extends layout

block content
  h1 All Reviews
  if error
    p(style='color:red') #{error}
  if reviews.length
    each review in reviews
      .panel.panel-default
        .panel-heading
          b Location: #{review.locationId}
          |  | Author: #{review.author} (#{review.email})
          |  | Rating: #{review.rating}
          |  | Date: #{review.date.toDateString()}
        .panel-body
          p #{review.text}
  else
    p No reviews found.
